*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    background-color: rgb(61, 58, 58);
    color: white;
}
.row-{
    display: flex;
    justify-content: space-between;
}
.num{
    margin-left: 50px;
    padding: 15px 0;
}
.email{
    margin-right: 50px;
    padding: 15px 0;
}
.icon{
    margin-right: 50px;
    padding: 15px 0;
}
.icon a{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
}
.icon a:hover{
    color: darkturquoise;
}

/*navbar section*/
.row{
 display: flex;
}
.col1 h1{
    font-family: cursive;
    font-size: 25px;
    color: rgb(104, 3, 3);
    padding: 20px 15px;
}
.col2{
    margin-left: 400px;
    font-size: 17px;
}
.col2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  .col2 li {
    float: left;
    
  }
  
.col2  a, .dropbtn {
    display: inline-block;
    color: black;
    padding: 30px 10px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .col2 li a:hover, .dropdown:hover .dropbtn {
    color: darkcyan;
  }
  
  .col2 li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.col3{
    padding-top: 20px;
}
.button1{
    padding: 10px 40px;
    color: white;
    background-color: rgb(104, 3, 3);
    border: 1px solid rgb(104, 3, 3);;
    font-size: 13px;
    border-radius: 5px;
}
:hover.button1{
    color: rgb(104, 3, 3);
    background-color: white;
    border: 1px solid rgb(104, 3, 3) ;
    }
/*About section*/
.menu4{
    background-color: #333;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    font-size: 15px;
    font-weight: 100;
}
.menu4 ul{
    padding-top: 10px;
}
.row4{
    display: flex;
}

.col12 i{
    color: white;
    text-decoration: none;
    padding: 0 5px;
    font-size: 25px;
}
.col12 p{
  padding-top: 15px;
}

.col13 ul li{
    padding-top: 10px;
    list-style-type: square;
}
.col13 ul li:hover{
    color: black;
}

.col14 ul li{
    padding-top: 10px;
    list-style-type: square;
}
.col14 ul li:hover{
    color: black;
}

.col15 ul li{
    margin-top: 15px 0;
    padding-top: 5px;
    list-style-type: square;
}
.col15 ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 100;
    
}
.col15 ul li a:hover{
    color: black;
}
.col12{
  margin: 20px 50px;
}
.col13{
  margin: 20px 70px;  
}
.col14{
    margin: 20px 70px; 
}
.col15{
    margin: 20px 70px;
}
/*anniversary section*/
.anniversary{
margin: 0px 20px;
}
.anniversary h3{
    padding-top: 5px;
    font-family: cursive;
    color: darkcyan;
    font-weight: 200;
}
.anniversary p{
    padding-top: 5px;
    color: rgb(90, 87, 87);
    font-size: 18px;
}
.col16{
    margin: 30px 40px;
}
.col17{
    margin: 30px 40px; 
}
.col18{
    margin: 30px 40px;
}
.head{
    text-align: center;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.para{
    text-align: center;
    padding: 15px 200px;
    font-size: 18px;
    margin-bottom: 50px;
}    